
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Test reports / artifacts
/allure-results/
/allure-report/
/cucumber-report.html
/cucumber-report.json
/test-cases-report.html
